<tr>
      <td> <%= link_to car.name, '#'%> </td>
      <td> <%= car.number %> </td>
      <td><%= car.pts %></td>
      <td><%= car.date_pts %></td>
      <td> <%= link_to "Редакт.", '#'%>  </td>
      <td> <%= link_to "Удалить", '#'%>  </td> 
   </tr>